@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --foreground-rgb: 0, 0, 0;
  --background-start-rgb: 214, 219, 220;
  --background-end-rgb: 255, 255, 255;
}

@media (prefers-color-scheme: dark) {
  :root {
    --foreground-rgb: 255, 255, 255;
    --background-start-rgb: 0, 0, 0;
    --background-end-rgb: 0, 0, 0;
  }
}

body {
  background: white;
  font-size: 16px;
  color: black;
}

@layer components {
  .btn_primary {
    @apply bg-transparent border-2   border-buttonBorder hover:bg-[#3F393D] px-2 lg:px-6 rounded-lg py-3  text-xl  text-softDark font-poppins hover:text-white;
  }
  .btn_submit {
    @apply flex justify-center items-center gap-2 text-white  bg-[#3F393D] px-2 lg:px-6 rounded-lg py-3  text-xl   font-poppins;
  }
}
